{
    box-sizing: border-box;
}

body, html {
	height: 100%;
	font-family: Arial, Helvetica;
	margin: 0;
    background-color: #777;
}

header {
    background-image: url("../images/banner.jpeg");
	background-color: #666;
    height: 30%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
nav {
    overflow: hidden;
    background-color: #333;
	margin-top: 0px;
}

nav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: white;
    color: black;
}


.midbar {
	padding-top: 35px;
    background-color: #333;
}

.taulukko, td {
	border: 1px solid black;
	
}


section {
display: flex;
}

aside {
	
float: left;
width: 20%;
background-color: #f2f2f2;
padding-left: 20px;
}
	

article {
    float: right;
    width: 80%;
    background-color: #f1f1f1;
}




footer {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 0;
	background-color: #efefef;
	text-align: center;
    background-color: #333;
    color: white;
}

@media screen and (max-width: 800px) {
    nav a {
		float: none;
        width: 100%;
    }
}

@media screen and (max-width: 400px) {
    nav a {
		float: none;
        width: 100%;
    }
}